middleware/resource/dictService.wsdl

<?xml version='1.0' encoding='utf-8'?><wsdl:definitions name="DictService" targetNamespace="http://dict.railway.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dict.railway.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://dict.railway.com/" xmlns:tns="http://dict.railway.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="rsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" type="xs:anyType"></xs:element>
      <xs:element minOccurs="0" name="header" type="tns:serviceHeader"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorInfo" type="tns:errorInfo"></xs:element>
      <xs:element minOccurs="0" name="success" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="errorLevel" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="reason" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stationNamesRS">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="names" nillable="true" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="arrayList">
    <xs:complexContent>
      <xs:extension base="tns:abstractList">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractList">
    <xs:complexContent>
      <xs:extension base="tns:abstractCollection">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="abstractCollection">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="queryStationNamesByPym" type="tns:queryStationNamesByPym"></xs:element>
  <xs:complexType name="queryStationNamesByPym">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryStationNamesByPymResponse" type="tns:queryStationNamesByPymResponse"></xs:element>
  <xs:complexType name="queryStationNamesByPymResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rsInfo"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryBureauCodeByStationName" type="tns:queryBureauCodeByStationName"></xs:element>
  <xs:complexType name="queryBureauCodeByStationName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryBureauCodeByStationNameResponse" type="tns:queryBureauCodeByStationNameResponse"></xs:element>
  <xs:complexType name="queryBureauCodeByStationNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rsInfo"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryStationNamesJsonByPym" type="tns:queryStationNamesJsonByPym"></xs:element>
  <xs:complexType name="queryStationNamesJsonByPym">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryStationNamesJsonByPymResponse" type="tns:queryStationNamesJsonByPymResponse"></xs:element>
  <xs:complexType name="queryStationNamesJsonByPymResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rsInfo"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryStationNamesJsonByPym">
    <wsdl:part element="tns:queryStationNamesJsonByPym" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBureauCodeByStationName">
    <wsdl:part element="tns:queryBureauCodeByStationName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStationNamesJsonByPymResponse">
    <wsdl:part element="tns:queryStationNamesJsonByPymResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStationNamesByPymResponse">
    <wsdl:part element="tns:queryStationNamesByPymResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryStationNamesByPym">
    <wsdl:part element="tns:queryStationNamesByPym" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryBureauCodeByStationNameResponse">
    <wsdl:part element="tns:queryBureauCodeByStationNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DictService">
    <wsdl:operation name="queryStationNamesByPym">
      <wsdl:input message="tns:queryStationNamesByPym" name="queryStationNamesByPym">
    </wsdl:input>
      <wsdl:output message="tns:queryStationNamesByPymResponse" name="queryStationNamesByPymResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryBureauCodeByStationName">
      <wsdl:input message="tns:queryBureauCodeByStationName" name="queryBureauCodeByStationName">
    </wsdl:input>
      <wsdl:output message="tns:queryBureauCodeByStationNameResponse" name="queryBureauCodeByStationNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryStationNamesJsonByPym">
      <wsdl:input message="tns:queryStationNamesJsonByPym" name="queryStationNamesJsonByPym">
    </wsdl:input>
      <wsdl:output message="tns:queryStationNamesJsonByPymResponse" name="queryStationNamesJsonByPymResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictServiceSoapBinding" type="tns:DictService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="queryStationNamesByPym">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="queryStationNamesByPym">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="queryStationNamesByPymResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryBureauCodeByStationName">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="queryBureauCodeByStationName">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="queryBureauCodeByStationNameResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryStationNamesJsonByPym">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="queryStationNamesJsonByPym">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="queryStationNamesJsonByPymResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictService">
    <wsdl:port binding="tns:DictServiceSoapBinding" name="DictServiceImplPort">
       <soap:address location="http://eaccess.china-railway.com.cn:8092/zhcxptpinyin/spring-ws-dict/dictService?wsdl"></soap:address> 
    <!-- <soap:address location="http://10.1.213.110:7001/spring-ws-dict/dictService?wsdl"></soap:address> -->
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>